/*
    author = Mauro - 1984.cl
*/

@media screen and (max-width:480px){ 
  div#tablas form{display: block !important;}
  .container table{width: 43% !important;color:magenta;}
  .navbar-header .twitter-share-button{display: none !important;}
  .search-reset{display: inline;}
}
@media screen and (min-width:480px) and (max-width:630px){ 
  div#tablas form{display: block !important;}
  a{float: left;display: inline;}
  .container table{width: 45% !important;color:green;}
  .movil{display: block;}
  .navbar-header .twitter-share-button{display: none !important;}
}
@media screen and (min-width:630px) and (max-width:768px){ 
  div#tablas form{display: block !important;}
  a{float: left;display: inline;}
  .container table{width: 43%;color:blue;}
  .movil{display: block;}
  .navbar-header .twitter-share-button{display: inline;}
}


.navbar{background-image: url("http://1984.cl/ad1984/img/background.jpg");background-repeat: repeat;box-shadow: 0px 2px 4px #ccc}
.navbar-header .twitter-share-button{float: left;display: inline;margin-top: 16px}
.container{text-align: center;}    
.container table{width: 30%; float:left; position:relative; margin: 0 10px;text-align: center;} 
.container table{font-size: 1.1em;}
div#tablas form{display: none;}
footer{color:#bbb;font-size: .9em;margin: 20px 0}
.search {
  position: relative;
  display: block;
  float: left;
}
 
.search-input {
  width: 190px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 7px 35px 7px 8px;
  border: solid 1px #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 1px #e5e5e5;
  -moz-box-shadow: inset 1px 1px 1px #e5e5e5;
  -ms-box-shadow: inset 1px 1px 1px #e5e5e5;
  -o-box-shadow: inset 1px 1px 1px #e5e5e5;
  box-shadow: inset 1px 1px 1px #e5e5e5;
}
 
.inp:focus {
  border: sold 1px #bbb;
  background-color: #f8f8f8;
  outline: none;
}

.search-reset {
  color: #fff;
  background: #d9d9d9;
  display: none;
  position: absolute;
  top: 7px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: .9em;
  font-weight: bold;
  padding: 1px 0;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition:
  background-color 0.2s ease 0.2s;
  -moz-transition: background-color 0.2s ease 0.2s;
  -ms-transition: background-color 0.2s ease 0.2s;
  -o-transition: background-color 0.2s ease 0.2s;
  transition: background-color 0.2s ease 0.2s;
}
 
.search-reset:hover {
  background-color: #bfbfbf;
}
 
.search-reset:active {
  -webkit-box-shadow: inset 1px 1px 2px #bbb;
  -moz-box-shadow: inset 1px 1px 2px #bbb;
  -ms-box-shadow: inset 1px 1px 2px #bbb;
  -o-box-shadow: inset 1px 1px 2px #bbb;
  box-shadow: inset 1px 1px 2px #bbb;
}



      
